@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: #fff;
  z-index: 101;
  border: 1px solid black;

  img {
    width: 70px;
  }
  .Nav-Container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
}

.fliter-bar {
  margin-top: -5px;
  background-color: #fff;
  border-bottom: 0.5px solid black;
}

.fliter-bar-container {
  padding: 10px 0;
  width: 50%;
  margin: 0 auto;
  height: auto;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }

  a {
    color: rgb(131, 131, 131);
    text-decoration: none;
    cursor: pointer;
  }
}

a:hover {
  color: black;
}

.menu {
  display: flex;
  align-items: center;
}

.search input {
  padding: 5px;
  border-radius: 5px 5px;
  border: 1px solid black;
}

.Cart-tab {
  width: 450px;
  background-color: #181818;
  color: #fff;
  position: fixed;
  inset: 0 -450px 0 auto;
  transition: right 0.3s ease;
  display: grid;
  grid-template-rows: 70px 1fr 70px;

  h2 {
    padding-top: 30px;
    text-align: center;
  }

  .check-out {
    display: grid;
    button {
      border: 1px solid black;
    }
  }
}

.showCart .Cart-tab {
  inset: 0 0 0 auto;
}

.close {
  position: absolute;
  top: 10px;
  left: 10px;

  button {
    padding: 5px 9px;
    background-color: #fff;
    border-radius: 30px;
    border: none;
  }
}

.Cart-all {
  position: relative;
  margin-left: 50px;

  button {
    border: none;
    background-color: #fff;
  }

  .Cart-number {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(202, 35, 35);
    color: #fff;
    border-radius: 50px;
    padding: 1px 5px;
  }
}

.Cart-Head {
  background-color: #3b3b3b;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  h3 {
    font-size: 1.2rem;
  }
}
.Cart-list-container {
  margin-top: 10px;
  padding: 20px;
  overflow-y: scroll;
}
.Cart-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  height: 90px;
}
.Cart-detail {
  line-height: 25px;
}

.Cart-left {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 10px;
    margin-right: 5px;
  }
}

.Cart-Right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;

  .btn-list {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 100%;
  }
}

.Product-main {
  padding-top: 120px;
  padding-bottom: 100px;
}

.Product-Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  row-gap: 80px;
}

.not-found {
  position: absolute;
  right: 45%;
  top: 45%;
  font-size: 2rem;
}

.Card {
  padding-right: 60px;
  button {
    margin-top: 5px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid black;
  }
}
.btn {
  padding-right: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  button {
    cursor: pointer;
  }
  p {
    margin-right: 10px;
  }
}
.show-add {
  display: none;
  padding: 4px;
  border-radius: 5px;
  background-color: rgb(192, 192, 192);
  transition: 1s all;
}

h3 {
  margin-top: 10px;
  font-size: 15px;
  margin-bottom: 7px;
}

.NewItems-Container {
  background-color: #e0e0e0;
  padding-bottom: 50px;
  padding-top: 130px;
}

.NewItems-Container h2 {
  text-align: center;
  margin-top: 100px;
  padding-top: 40px;
}

.show-img {
  position: relative;
  height: 390px;
  width: 270px;
  overflow: hidden;
  border-radius: 30px;
}

.show-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.01s ease;
}

.default-img {
  opacity: 1;
}

.hover-img {
  opacity: 0;
}

.show-img:hover .default-img {
  opacity: 0;
}

.show-img:hover .hover-img {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .Product-Container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .Product-Container {
    grid-template-columns: 1fr 1fr;
  }
}
